@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery {
  padding: 16px; /* Padding runt galleriet */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Skapar responsiv grid */
  gap: 16px; /* Avstånd mellan bilderna */
}

.dogs-gallery card {
  border: 2px solid #fff; /* Kan justeras */
  border-radius: 8px;
  overflow: hidden;
  text-align: center; /* Centrera texten */
  background-color: #f5f5f5; /* Vit bakgrund */
}

.dogs-gallery img {
    height: 200px; /* Sätt en fast höjd */
    width: 100%; /* Gör bilden responsiv */
    object-fit: cover; /* Täcker hela området utan att deformera bilden */
    border-radius: 8px; /* Rundade hörn, valfritt */
    padding: 25px; /* Skapar plats mellan bilden och ramen */
}

.dogs-gallery article {
  border: 2px solid #f5f5f5; /* Ändra färg och tjocklek på ramen */
  border-radius: 8px; /* Rundade hörn för ramen */
  overflow: hidden; /* Döljer överflödigt innehåll om det behövs */
  transition: transform 0.3s ease; /* Mjuk övergång vid hover */
  background-color: #f5f5f5;
  
}

.dogs-gallery article:hover {
  transform: scale(1.05); /* Förstorar ramen något vid hover */
}

.dogs-gallery h3 {
  font-size: 12px; /* Justera detta värde för att göra texten mindre */
}


